{% extends "base.html" %}

{% load static %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'cars.css' %}">
{% endblock %}
{% block content %}
  <form method="GET" action="{% url 'cars_list' %}">
    <input type="text" name="search" placeholder="Buscar carro...">
    <button type="submit">Buscar</button>
  </form>
  <div class="car-grid">
    {% if cars %}
      {% for car in cars %}
      <a href="{% url 'car_detail' car.pk %}">
        <div class="car-card">
          <img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}">
          <h2>{{ car.brand }} {{ car.model }}</h2>
          <p>{{ car.factory_year }} - R$ {{ car.value }}</p>
        </div>
      </a>
      {% endfor %}
    {% else %}
      <p class="no-results">Nenhum carro encontrado.</p>
    {% endif %}
  </div>
{% endblock %}