{% extends "base.html" %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <form method="post">
        {% csrf_token %}

        <div class="form_group">
            {{ user_form.username.errors }}
            <label for="{{ user_form.username.id_for_label }}">Usuário</label>
            {{ user_form.username }}
        </div>

        <div class="form_group">
            {{ user_form.password1.errors }}
            <label for="{{ user_form.password1.id_for_label }}">Senha</label>
            {{ user_form.password1 }}
        </div>

        <div class="form_group">
            {{ user_form.password2.errors }}
            <label for="{{ user_form.password2.id_for_label }}">Confirmação de senha</label>
            {{ user_form.password2 }}
        </div>

        <div class="buttons-container">
            <input type="submit" value="Cadastrar" class="btn">
        </div>

    </form>
</div>
{% endblock %}
